.App {
  text-align: center;
  margin: 0 auto;
  font-family: Fira Sans, serif;
  font-weight: 400;
  background-color: #191919;
  color: #fff;
  scroll-behavior: smooth;
}
.App-header-x{
  min-height: 10vh;
  background-color: #F25c27;
  color: white;
  border: 4px outset #ff8c5f;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.headline{
  font-size: 2.78em;
  color: #fff;
  letter-spacing: 1.07px;
  background-color: #F25c27;
  animation-name: xy;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.485, 0.035, 0.15, 0.86);
}
@keyframes xy{
22% {margin-right: 1%; text-shadow: 1.77px 1.22px 2.44px #191919; letter-spacing: 1.3px;}
44% {margin-left: 1.2%; text-shadow: 2.77px 2.22px 3.44px #000;letter-spacing: 0.7px;}
76% {margin-right: 1%; color: black; text-shadow: 3.77px 1.22px 4.44px #fff;letter-spacing: 1.7px;}
99% {margin-left: 1.4%; text-shadow: 1.77px 3.22px 2.44px #000;letter-spacing: 1.px;}
}